<div class="title">
    <h5>In logic, what would you like to work on today?</h5>
</div>
<div class="row">
    <div class="col s5 offset-s1">
        <div class="card blue-grey darken-1 hover-card">
            <a id ="logic_practice" href="/logic" onclick="generatePracticeProblems()">
                <div class="card-content white-text">
                    <span class="card-title">Practice Problems</span>
                    <p>Use practice problems when you want to practice different problem sets and track your progress
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col s5 offset-s0">
        <div class="card blue-grey darken-1 hover-card">
            <a id="logic_manual" href="/logic">
                <div class="card-content white-text">
                    <span class="card-title">Manual Input</span>
                    <p>Use manual input to enter your own proofs and check your work
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
