<!-- With assistance from Mike North, who helped with the CSS / layout for cards -->
<!-- https://codepen.io/mike-north/pen/MwVoYp -->

<h5>
	Instructor Page
</h5>

<!-- <div class="col s3"> -->
<!-- 	<div class="card small"> -->
<!--     <div class="card-content"> -->
<!--       <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span> -->
<!--       <p><a href="#">This is a link</a></p> -->
<!--     </div> -->
<!--     <div class="card-reveal"> -->
<!--       <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span> -->
<!--       <p>Here is some more information about this product that is only revealed once clicked on.</p> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->


<div class="container">
	<div class="row">
		<div class="col s12 ">
            <table class="highlight bordered">
                <tr>
                    <td><h5>Student Name</h5></td>
                    <td><h5>Score</h5></td>
                </td>
			<% @users.each do |user| %>
				<tr>
                    <td><%= user.name %></td>
				</tr>
			<% end %>
            </table>
		</div>
	</div>
</div>
