.secondary_line > div {
	margin-left: 0 !important;
}
.title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
a.foot-text {
    color: white;
}
textarea.proof {
    height: 13rem;
}
textarea#premise {
    height: 2rem;
}
textarea#conclusion {
    height: 2rem;
}
.modal-footer {
    margin-top: -5%;
}
a.waves-effect.waves-light.btn.modal-trigger {
    margin-left: 80%;
    margin-top: -5%
}
@media only screen and (min-width: 601px) {
    width: 90%;
}
@media only screen and (min-width: 993px) {
    width: 90%;
}
