.secondary_line > div {
	margin-left: 0 !important;
}
.title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
a.foot-text {
    color: white;
}
textarea.proof {
    height: 13rem;
}
textarea.premise {
    height: 2rem;
}
textarea.conclusion {
    height: 2rem;
}
.modal-footer {
    margin-top: -5%;
}
.modals {
    padding-left: 77%;
    padding-bottom: 2%;
}
a#expertheader.waves-effect.waves-light.btn.modal-trigger {
    float: right;
}
a#latexheader.waves-effect.waves-light.btn.modal-trigger {
    font-style: italic;
}
.submit {
    float:right;
}
.sub-btn {
    left: 10% ;
}
.proof_add_line {
    float:left;
}
i.material-icons {
    margin-left: -4%;
}
#premise_1 {
    margin-bottom: -6%;
}
#premise_2 {
    margin-bottom: -6%;
}
.proof_rules_1 {
    margin-left: 1% !important;
}
#proof_row {
    margin-bottom: -6%;
}
@media only screen and (min-width: 601px) {
    width: 90%;
}
@media only screen and (min-width: 993px) {
    width: 90%;
}

.hidden{
    display: none;
}
.loader {
    left: 50%;
    margin-left: -4em;
    font-size: 10px;
    border: .8em solid rgba(218, 219, 223, 1);
    border-left: .8em solid rgba(58, 166, 165, 1);
    animation: spin 1.1s infinite linear;
}
.loader, .loader:after {
    border-radius: 50%;
    width: 8em;
    height: 8em;
    position: absolute;
    top: 50%;
    margin-top: -4.05em;
}
