<h1>Discrete Math</h1>

<table id="t01">
  <tr>
    <th>Symbol</th>
    <th>Example</th> 
  </tr>
  <tr>
    <td>AND: &amp;</td>
      <td>P&amp;R</td>
  </tr>
  <tr>
    <td>OR: v</td>
      <td>PvR</td>
  </tr>
  <tr>
    <td>IMPLIES: -></td>
      <td>P->R</td>
  </tr>
  <tr>
    <td>NOT: ~</td>
      <td>~P</td>
  </tr>
  <tr>
    <td>BICONDITIONAL: <&#45;> </td>
        <td>P<->Q</td>
  </tr>
  <tr>
    <td>XOR: x </td>
        <td>PxQ</td>
  </tr>
  
</table>