<div class="title">
    <h5>Which type of proof would you like to work on today?</h5>
</div>
<div class="row">
    <div class="col s5 offset-s1">
        <div class="card blue-grey darken-1 hover-card">
            <a id ="logic_options" href="/logic_options">
                <div class="card-content white-text">
                    <span class="card-title">Logic</span>
                    <p>Use rules of logic to practice proofs
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col s5 offset-s0">
        <div class="card blue-grey darken-1 hover-card">
            <a id="induction" href="/induction">
                <div class="card-content white-text">
                    <span class="card-title">Induction</span>
                    <p>Use weak / strong induction to practice proofs
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>