<!-- With assistance from Mike North, who helped with the CSS / layout for cards -->
<!-- https://codepen.io/mike-north/pen/MwVoYp -->

<h5>
	Profile Page
</h5>

<!-- <div class="col s3"> -->
<!-- 	<div class="card small"> -->
<!--     <div class="card-content"> -->
<!--       <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span> -->
<!--       <p><a href="#">This is a link</a></p> -->
<!--     </div> -->
<!--     <div class="card-reveal"> -->
<!--       <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span> -->
<!--       <p>Here is some more information about this product that is only revealed once clicked on.</p> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->


<div class="container">
	<div class="row">
		<div class="col s12 cards-container">



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Identity Laws</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Domination Laws</span>
					<p>I am a very simple card. I am good at containing small bits of information.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Idempotent Laws</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Double Negation Laws</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Commutative Laws</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Associative Laws</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Distributive Laws</span>
					<p>I am a very simple card. I am good at containing small bits of information</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">DeMorgan's Laws</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>

					<p>This card has some extra info, which will make it taller. This is OK because we're using CSS columns!!!</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Absorption Laws</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
					<p>This card has some extra info, which will make it taller. This is OK because we're using CSS columns!!!</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Negation Laws</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
					<p>This card has some extra info, which will make it taller. This is OK because we're using CSS columns!!!</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Logical Equivalence Conditional</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
					<p>This card has some extra info, which will make it taller. This is OK because we're using CSS columns!!!</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Logical Equivalence Biconditional</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">De Morgan Laws</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Modus Ponens</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Modus Tollens</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>      


			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Hypothetical Syllogism</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Disjunctive Syllogism</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Addition</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Simplification</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Conjunction</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Resolution</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Universal Instantiation</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Universal Generalization</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Existential Instantiation</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Existential Generalization</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>



			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Random Completions</span>
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
					<a href="#">This is a link</a>
				</div>
			</div>




		</div>
	</div>
</div>
