<div class="profile" style="text-align:left">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div id="profile-container">
   <image id="profileImage" src="http://lorempixel.com/100/100" />
</div>
<input id="imageUpload" type="file" 
       name="profile_photo" placeholder="Photo" required="" capture>

    <h3><strong><%= current_user.name %></strong></h3>
    <h5>My Achievements:</h5>
</div>

<div id="4392" position="100024" lastactivity="1488442704000" duedate="1488445200000" class="sortable_item_row graded_item_row row expanded" rowindex="4" style="text-align:left">
        
        <!-- Items Column -->
        <div class="cell gradable" style="text-align:left">
          <a onclick="mygrades.loadContentFrame('/webapps/gradebook/do/student/viewAttempts?method=list&amp;course_id=_1124_1&amp;outcome_definition_id=_4392_1&amp;outcome_id=_104633_1'); return false;">Summation Induction Proof Practice 1</a>
            <div class="activityType">
              Due: Mar 2, 2018</div>
          <div class="itemCat">Test</div>
          <div class="eval-links horizontal">
            </div>
        </div>

        <!--  Activity Column -->
        <div class="cell activity timestamp">
          <span class="lastActivityDate">-</span>
        </div>

        <!-- Grade Column -->
        <div class="cell grade">
          <span class="grade" tabindex="0">-</span><span class="pointsPossible clearfloats">/25</span>
          </div>

        <!--  Status Column -->
        <div class="cell gradeStatus">
          </div>
        
      </div>
    <script src="javascripts/induction/profilePage.js"></script>
