<div class="profile" style="text-align:center">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div id="profile-container">
   <image id="profileImage" src="http://lorempixel.com/100/100" />
</div>
<input id="imageUpload" type="file" 
       name="profile_photo" placeholder="Photo" required="" capture>

    <h2><strong><%= current_user.name %></strong></h2>

</div>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="container">
  
  <div class="row">
    <div class="col-sm-6" style="background-color:pink;">
      <em><h4>My Achievements:</h4></em>
      <div id="4392" position="100024" lastactivity="1488442704000" duedate="1488445200000" class="sortable_item_row graded_item_row row expanded" rowindex="4" style="text-align:left">
        
        <!-- Items Column -->
        <div class="cell gradable" style="text-align:left">
          <a onclick="mygrades.loadContentFrame('/webapps/gradebook/do/student/viewAttempts?method=list&amp;course_id=_1124_1&amp;outcome_definition_id=_4392_1&amp;outcome_id=_104633_1'); return false;">Summation Induction Proof Practice 1</a>
            <div class="activityType">
              Due: Mar 2, 2018</div>
          <div class="itemCat">Test</div>
          <div class="eval-links horizontal">
            </div>
        </div>

        <!--  Activity Column -->
        <div class="cell activity timestamp">
          <span class="lastActivityDate">Feb 3,2018</span>
        </div>

        <!-- Grade Column -->
        <div class="cell grade">
         <b> <span class="grade" tabindex="0">scored 24</span><span class="pointsPossible clearfloats">/25</span></b>
          </div>

        <!--  Status Column -->
        <div class="cell gradeStatus">
          </div>
        
      </div>
    </div>
    <div class="col-sm-6" style="background-color:#85C1E9;">
      <b><h4>My Progress:</h4></b>
      <div id="4392" position="100024" lastactivity="1488442704000" duedate="1488445200000" class="sortable_item_row graded_item_row row expanded" rowindex="4" style="text-align:left">
        
        <!-- Items Column -->
        <div class="cell gradable" style="text-align:left">
          <a onclick="mygrades.loadContentFrame('/webapps/gradebook/do/student/viewAttempts?method=list&amp;course_id=_1124_1&amp;outcome_definition_id=_4392_1&amp;outcome_id=_104633_1'); return false;">Summation Induction Proofs</a>
            <div class="activityType">
              Due: Mar 2, 2018</div>
          <div class="itemCat">Practice</div>
          <div class="eval-links horizontal">
            </div>
        </div>
        <!--  Activity Column -->
        <div class="cell activity timestamp">
          <span class="lastActivityDate">Jan 3,2018</span>
        </div>

        <!-- Grade Column -->
        <div class="cell grade">
          <b><span class="completed" tabindex="0">completed 20 </span><span class="pointsPossible clearfloats">out of 25 questions</span> </b>
          </div>

        <!--  Status Column -->
        <div class="cell gradeStatus">
          </div>
        
      </div>

    </div>
  </div>
</div>
    <script src="javascripts/induction/profilePage.js"></script>
